* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #ffffff;
  --secondry-bg-color: #fafbff;
  --primary-text-color: #4d4748;
  --secondry-text-color: #6b6c71;
  --btn-bg-color: #cae8ed;
  --btn-text-color: #327e99;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--primary-bg-color);
}

header .navbar {
  height: 13vh;
  background-color: var(--secondry-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar h1 {
  font-size: 1.9rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.1rem;
}

.navbar .user-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1rem;
  padding: 1.2rem 1rem;
  border-radius: 15px;
}

.navbar a:hover {
  color: #327e99;
  border-bottom: 1px solid #428ea5;
}

.hero-section {
  height: 87vh;
  /* background-color: #327e99; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left {
  height: 70vh;
  width: 40%;
  /* background-color: #cae8ed; */
  padding: 3rem 2.5rem;
}

.hero-left h2 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-text-color);
  margin-bottom: 1.5rem;
}

.hero-left h1 {
  font-size: 3rem;
  color: var(--btn-text-color);
  margin-bottom: 1.5rem;
}

.hero-left p {
  font-size: 1.3rem;
  color: var(--secondry-text-color);
}

.hero-left .book-btn {
  font-size: 1.1rem;
  padding: 1.3rem;
  border-radius: 15px;
  border: none;
  background-color: var(--btn-text-color);
  color: #ffffff;
  margin-top: 2.5rem;
}

.hero-right {
  height: 70vh;
  width: 40%;
}

.hero-right img {
  height: 100%;
}

@media (width <=1024px) {
  .hero-left {
    width: 50%;
  }
  .hero-left h2 {
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-bottom: 1.3rem;
  }
  .hero-left h1 {
    font-size: 2.7rem;
    margin-bottom: 1.3rem;
  }
  .hero-left p {
    font-size: 1.1rem;
  }
  .hero-left .book-btn {
    font-size: 1rem;
    padding: 1.1rem;
    margin-top: 2.2rem;
  }
  .hero-right img {
    height: 70%;
  }
}

@media (width <=768px) {
  .hero-left {
    width: 60%;
  }

  .hero-left h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .hero-left h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero-left p {
    font-size: 1rem;
  }
  .hero-left .book-btn {
    font-size: 0.9rem;
    padding: 1rem;
    margin-top: 2rem;
  }
  .hero-right img {
    height: 60%;
  }
}

@media (width <=480px) {
  .navbar {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-left {
    margin-left: 5rem;
    width: 100%;
  }
  .hero-right {
    width: 70%;
    height: 60%;
  }
  .hero-left h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.7rem;
  }
  .hero-left h1 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
  .hero-left p {
    font-size: 0.8rem;
  }
  .hero-left .book-btn {
    font-size: 0.9rem;
    padding: 1rem;
    margin-top: 2rem;
  }
  .hero-right img {
    height: 70%;
  }
}
