* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #ffffff;
  --secondry-bg-color: #fafbff;
  --primary-text-color: #4d4748;
  --secondry-text-color: #6b6c71;
  --btn-bg-color: #cae8ed;
  --btn-text-color: #327e99;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--primary-bg-color);
}

header .navbar {
  height: 13vh;
  background-color: var(--secondry-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar h1 {
  font-size: 1.9rem;
}

.navbar ul {
  display: flex;
  gap: 2.5rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.1rem;
}

.navbar .user-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1rem;
  padding: 1.2rem 1rem;
  border-radius: 15px;
}

.hero-section {
  height: 87vh;
  /* background-color: #327e99; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left {
  height: 70vh;
  width: 40%;
  /* background-color: #cae8ed; */
  padding: 3rem 2.5rem;
}

.hero-left h2 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-text-color);
  margin-bottom: 1.5rem;
}

.hero-left h1 {
  font-size: 3rem;
  color: var(--btn-text-color);
  margin-bottom: 1.5rem;
}

.hero-left p {
  font-size: 1.3rem;
  color: var(--secondry-text-color);
}

.hero-left .book-btn {
  font-size: 1.1rem;
  padding: 1.3rem;
  border-radius: 15px;
  border: none;
  background-color: var(--btn-text-color);
  color: #ffffff;
  margin-top: 2.5rem;
}

.hero-right {
  height: 70vh;
  width: 40%;
  background-image: url("https://i.pinimg.com/736x/34/84/27/348427bf43beef4d1c02cb579183dd6d.jpg");
  background-size: cover;
}

@media (width <= 1200px) {
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 40%;
  }
  .hero-left h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .hero-left h1 {
    font-size: 2.5rem;
  }
  .hero-left p {
    font-size: 1.2rem;
  }
  .hero-left .book-btn {
    font-size: 1.1rem;
    padding: 1.2rem;
  }
  .hero-right {
    margin-top: -11rem;
    height: 60%;
  }
}

@media (width <= 992px) {
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 40%;
  }
  .hero-left h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .hero-left h1 {
    font-size: 2rem;
  }
  .hero-left p {
    font-size: 1rem;
  }
  .hero-left .book-btn {
    font-size: 1rem;
    padding: 1rem;
  }
  .hero-right {
    margin-top: -15rem;
    height: 50%;
  }
}

@media (width <= 768px) {
  header .navbar {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 40%;
  }
  .hero-left h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .hero-left h1 {
    font-size: 1.5rem;
  }
  .hero-left p {
    font-size: 0.7rem;
  }
  .hero-left .book-btn {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
  .hero-right {
    margin-top: -17rem;
    height: 42%;
  }
}

@media (width <= 600px) {
  header .navbar {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 40%;
  }
  .hero-left h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .hero-left h1 {
    font-size: 1rem;
  }
  .hero-left p {
    font-size: 0.5rem;
  }
  .hero-left .book-btn {
    font-size: 0.5rem;
    padding: 0.5rem;
  }
  .hero-right {
    margin-top: -20rem;
    height: 35%;
  }
}

@media (width <= 400px) {
  header .navbar {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .navbar h1 {
    font-size: 1.3rem;
  }
  .navbar a{
    font-size: 1rem;
  }
  .navbar .user-btn{
    font-size: 0.8rem;
    padding: 1rem;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-left{
    width: 90%;
    margin-bottom: 6rem;
  }
  .hero-right{
    width: 55%;
    
  }
}
