* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #ffffff;
  --secondry-bg-color: #fafbff;
  --primary-text-color: #4d4748;
  --secondry-text-color: #6b6c71;
  --btn-bg-color: #cae8ed;
  --btn-text-color: #327e99;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--primary-bg-color);
}

header .navbar {
  height: 13vh;
  background-color: var(--secondry-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar h1 {
  font-size: 1.9rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1.1rem;
}

.navbar .user-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1rem;
  padding: 1.2rem 1rem;
  border-radius: 15px;
}

.navbar a:hover {
  color: #327e99;
  border-bottom: 1px solid #428EA5;
}

.hero-section {
  height: 87vh;
  /* background-color: #327e99; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left {
  height: 70vh;
  width: 40%;
  /* background-color: #cae8ed; */
  padding: 3rem 2.5rem;
}

.hero-left h2 {
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-text-color);
  margin-bottom: 1.5rem;
}

.hero-left h1 {
  font-size: 3rem;
  color: var(--btn-text-color);
  margin-bottom: 1.5rem;
}

.hero-left p {
  font-size: 1.3rem;
  color: var(--secondry-text-color);
}

.hero-left .book-btn {
  font-size: 1.1rem;
  padding: 1.3rem;
  border-radius: 15px;
  border: none;
  background-color: var(--btn-text-color);
  color: #ffffff;
  margin-top: 2.5rem;
}

.hero-right {
  height: 70vh;
  width: 40%;
}

.hero-right img {
  height: 100%;
}
